.doctor-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}
.login-container {
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 360px) {
  .doctor-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
}
